--------------+------------------------------------+-----------------
  Header      |  Prefix                            |  Suffix
--------------+------------------------------------+-----------------
	      |                                    |
libarietta.h  | error_*                            |
              | print_*                            |
              | lcd_*                              |
              |                                    |
--------------+------------------------------------+-----------------
